@import "bootstrap";

.clean-link {
    &:hover {
        color: inherit;
        transform: scale(0.1rem);
    }
    text-decoration: none;
    color: inherit;
}

.logo-link {
    @extend .clean-link;
    padding: 0 1rem 0 1rem;
}

.app-container-div {
    height: 100%;
    border-width: 0;
    border-style: double;
    border-color: cornsilk;
    border-top-width: 0.5rem;
    padding: 1rem 10% 5rem 10%;
    // background-color: lightgoldenrodyellow;
}

.spin {
  animation: rotation 3s infinite linear;
}

.spinner-svg {
    @extend .spin;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.recipe-card-img {
    max-height: 200px;
    min-height: 100px;
    background-image: './spinner.svg';
}

.recipe-card {
    overflow: hidden;
    margin: 0.5rem 0;
}

.recipe-card-body {
    height: 50px;
}

.col {
    padding: 0 0.2rem;
}

.justify-content-end {
    justify-content: end;
}

html, body {
    height: 100%;
}